<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
    <script src="static/js/angular.js"></script>

</head>

<body>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            <h3 class="masthead-brand">Project En Masse</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link active" href="/features">Visualize</a>
            </nav>
            </div>
        </header>
        
        <main role="main" class="inner cover">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Start with the link of a tweet" name="keyword">
                <div class="input-group-append">
                <a href="/result" class="btn btn-primary">Visualize Now</a>
            </div>
                    <!-- <button class="btn btn-outline-secondary" id="tweet-link" type="submit" name="keyword" href="/result">Visualize Now</button> -->
              </div>
              <br>
              <img width="320" class="center" src="{{url_for('static', filename='assets/search.svg')}}">
            </div>
            
            
        </main>
        
        <footer class="mastfoot mt-auto">
            <div class="inner">
            <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            </div>
        </footer>
    </div>



    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>

</html>
